*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width:90%;
    margin: auto;
    max-width: 1100px;
}
.logo img{
    height:100%;
    object-fit: contain;
    object-position: center;
    max-height: 70px;
}

.search-box {
    width: 280px;
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 0px 20px;
    margin-left: auto;
}

.search-box input{
    width: 95%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.search-box button{
    color: #333;
    border: none;
    outline:none;
    background-color: transparent;
    cursor: pointer;
}

.nav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btns a{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fed2d1;
    color: #383838;
    font-size: 0.8rem;
    margin-left: 10px;
}

.nav-btns a i{
    margin-top: 2px;
}
